download/
data/
logs*/
output*/
outputs*/
reg_images/
*.pth
*.ckpt
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/.pyc
*/*/.pyc
*/*/*/.pyc
*/*/*/*/.pyc
*.txt
*/*.txt
taming/
taming
collect_env.py
ckpts/
plots/
*.png
*.jpg
*.jpeg
*.pkl
data/
*.sh
*.zip
PerceptualSimilarity/
